# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Configuración de Base de Datos
DB_NAME=efi_database
DB_USER=root
DB_PASS=password
DB_HOST=localhost
DB_DIALECT=mysql

# Ejemplo para PostgreSQL
# DB_DIALECT=postgres

# Ejemplo para SQLite
# DB_DIALECT=sqlite
